body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-image: url("/assets/img/header.jpg");
    height:250px;
    background-size: cover;
    background-position: center;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    padding-top: 100px;
    padding-left: 100px;
    text-shadow: 1px 2px 0 gray;
}

header p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 103px;
    margin-top: 0px;
}

section{
    width: 1100px;
    margin: 0px auto;
    padding: 50px;
}

section img{
    width: 270px;
    margin: 15px;
    border-color: rgb(210, 210, 210);
    border-width: 1px;
    border-style: solid;
}

section p {
    padding-left: 70px;
    font-weight: bold;
    font-size: 13px;
    font-style:normal;
}

footer{
    height: 2em;
    line-height: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    background-color: chocolate;
    text-align: center;
    color: white
}